/*
// <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name

.libre-bodoni-<uniquifier> {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

body {
    background-image: url('assets/images/background-shot.png');
}