/*
// <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name

.libre-bodoni-<uniquifier> {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================
NAVIGATION SECTION
==================*/

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #0A0404;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}

#nav-title {
  font-family: "Libre Bodoni", serif;
  font-size: 1rem;
  color: #F6F4FB;
  padding: 15px 0;
  margin-left: 15px;
}

.nav-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
  align-items: center;
}

.nav-buttons a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: .8rem;
  text-decoration: none;
  padding: 10px 15px;
  color: #F6F4FB;
  background-color: transparent;
}

/*==========
HERO SECTION
===========*/

#home {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  max-height: 850px;
  background: url('../images/background-shot.png') no-repeat center;
  background-size: cover;
  overflow: hidden;
}

#home img {
  width: 50%;
  max-width: 520px;
  height: auto;
  object-fit: cover;
  order: 2;
}

.title-container {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  gap: 1rem;
  order: 1;
  margin-left: 30px;
  margin-top: 100px;
}

.hero-name h2 {
    font-family: "Libre Bodoni", serif;
    font-weight: 400;
    font-size: 7rem;
    color: #F6F4FB;
    margin-top: -150px;
    padding: 0;
    flex-shrink: 1;
}

.hero-img {
    max-height: 850px;
    min-width: 38%;
    flex-shrink: 1;
    
}
#t {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
  color: #F6F4FB;
  margin-right: 30px;
  
}

#a {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 10rem;
  color: #F6F4FB;
  margin-left: -40px;
}


h1 {
  font-family: "Libre Bodoni", serif;
  font-weight: 400;
  font-size: 8rem;
  color: #9F83BE;
  position: absolute;
  bottom: -3rem;
  right: 3rem;
  margin: 0;
  z-index: 2;
  max-width: calc(100% - 4rem);
}

@media (max-width: 780px) {
  #home {
    flex-direction: column;
    position: relative;
    padding: 0;
    min-height: auto;
    max-height: 400px;
    align-items: center;
  }


 .hero-img {
    max-height: 400px;
    max-width: 10%;
    margin: 0;
    margin-left:-50%;
  }

  .title-container {
    position: absolute;
    left: 50%;
    width: 50%;
    max-width: 600px;
    z-index: 2;
    text-align: center;
    padding-top: 60px;
    padding-right: 10px;
    order: 0;
  }

  .hero-name h2 {
    font-size: 3rem;
    margin-right: 80px;
    margin-top: -80px;
    padding-right: 20px;

  }

  #t {
    font-size: 5rem;
    margin-right: 10px;
  }

  #a {
    font-size: 5rem;
    margin-left: -15px;

  }

  .subtitle {
    font-size: 0.9rem;
  }

  h1 {
    position: absolute;
    font-size: 7rem;
    bottom: 1rem;
    right: 1rem;
    margin: 0;
    max-width: calc(100% - 2rem);
  }

  .section-title {
    font-size: 3rem;
    position: absolute;
    bottom: -1rem;
    right: 1.5rem;
    margin: 0;
    z-index: 2;
    max-width: calc(100% - 4rem);
  }
}

/*=====================
THIS IS THE ABOUT ME
====================
*/

#about-me {
    display: flex;
    gap: 1px;
    margin-bottom: 30px;
    max-height: 600px;
}

.ab-box {
    display: flex;
    justify-content: right;
    flex: 1;
    padding: 30px;
    background-color:#9F83BE;
    z-index: 2;
    max-width: 800px;
    max-height: 600px;
  
}
.ab-box p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #F6F4FB;
    max-width: 400px;
    max-height: 600px;

}
.ab-section {
    font-family: Libre Bodoni;
    font-size: 3rem;
    color: #432257;
    padding-bottom: 30px;

}

#about-me img {
    position: absolute;
    right: 0;
    max-height: 500px;
    width: auto;
    z-index: 0;
}

@media (max-width: 780px) {
    .ab-box {
     max-height: 100%;
     max-width: 50%;
     margin: 0;
    
    }

    .ab-section {
     font-size: 1rem;
     padding-right: 5px;
     padding-bottom: 5px;
     line-height: 1rem;
    
    }

    .ab-box p {
     font-size: .5rem;
     padding-right: 15px;
     padding-top: 5px;
     line-height: 1rem;
    
    }

    #about-me img {
     max-height: 300px;
     max-width: 91%;
     margin: 0;
    }
}

/*============
PROJECTS
==============
*/

#projects {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 850px;
  background: url('../images/bg2.png') no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.section-title2 {
  position: absolute;
  font-family: "Libre Bodoni", serif;
  font-weight: 400;
  font-size: 8rem;
  color: #9F83BE;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: 2;
  max-width: calc(100% - 0px);
}

#section-title2 {
  position: absolute;
  font-family: "Libre Bodoni", serif;
  font-weight: 400;
  font-size: 8rem;
  color: #9F83BE;
  top: -2rem;
  left: 0;
  margin: 0;
  z-index: 2;
  max-width: calc(100% - 0px);
}
.card-holder {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 5rem;
  padding: 1rem 1rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.project-container {
  flex: 1;
  box-sizing: border-box;
}


.card-title {
 font-family: Libre Bodoni;
 font-size: 2rem;
 font-weight: 400px;
 color:#F6F4FB;
 margin-bottom: -.5rem;
}

.preview img {
    max-height: 200px;
    max-width: 360px;

    transition: background-image 0.3s ease; 
}

.preview img:hover{
 background-color: rgba(0, 0, 0, 0.5);
}

.card-desc {
   background-image: linear-gradient(to bottom, rgb(10, 4, 4, .2), rgb(67, 34, 87, .5));
   border-radius: 0 15px 15px 0;
   border: 1px solid #9F83BE;
   padding: 15px;
   height: 150px;

}

.desc {
 font-family: Montserrat;
 font-size: 1rem;
 color:#F6F4FB;
 padding: 1rem;
}



@media (max-width: 780px) {
  #projects {
    padding: 1.25rem 1rem;
  }

  .project-container {
    flex: 0 0 100%;
  }

  #section-title2 {
    font-size: 3rem;
    position: absolute;
    top: -.5rem;
    left: 1rem;
    margin: 0;
    z-index: 2;
    max-width: calc(100% - 2rem);
  }
}



.hp {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
 }